

<div class="form"> 
<%= form_for @activity do |f| %>
    <%= f.label :name, "Name     " %>
    <%= f.text_field :name %>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <p>    <%= f.label :theme, "Type" %>
    <%= f.text_field :theme %> </p>
 
    
   <p> <div class="checky"> <%=  f.collection_check_boxes :mood_ids, Mood.all, :id, :name, :class => "check", :id => ":mood_ids" %></div>     
   
 <%= f.submit "+add new", :class => "sub"%> 
</div>
</div>


<% end %>





