


<%= form_for @activity do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <p>    <%= f.label :theme %>
    <%= f.text_field :theme %> </p>
    <p>
    <%=  f.collection_check_boxes :mood_ids, Mood.all, :id, :name, :class => "check"%>
</p>


    <%= f.submit %>
<% end %>