<h1>My Activities</h1>

<% @activities.each do |activity| %>
  <% if activity.user_id == @current_user.id%>
      <%= link_to "+ edit", edit_activity_path(activity), :class => "edity" %>  <%= activity.name %> |  <%= activity.theme %>
     <%= button_to "- delete", activity, :class => "deletey", :method => "delete", :data => {:confirm => "U sure dummy?"}%>
Moods:
      <% activity.moods.each do |mood| %>
        <span>    <%= mood.name %> </span> 
      <% end %>
  <p>
        </p>


  <% end%>

<% end%>
