<!DOCTYPE html>
<html>
  <head>
    <title>Shitbrokeday</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= link_to "home", root_path %>
    <% if @current_user.present? %>
       <%=  link_to "moods", moods_path%>
        <%=  link_to "activities", activities_path%>
     <%= link_to "log out",  login_path, :method => 'delete'%>
   <% end %>
    | <%= link_to "sign up", new_user_path  %>
   <%=  link_to "sign in", login_path%>

    <%= yield %>
  </body>
</html>
