<!DOCTYPE html>
<html>
  <head>
    <title>Shitbrokeday</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <style>
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

</style> 
  </head>

  <body>
<div class="container">
<div class="logo"><h1> $hit Broke Day</h1> </div>
    <div class="nav"> <%= link_to "+moods", root_path, :class => "navlink" %>
    <% if @current_user.present? %>
         <%=  link_to "+activities", activities_path, :class => "navlink"%>
         <%=  link_to "+new activity", new_activity_path, :class => "navlink"%>   
         <%= link_to "Sign out",  login_path, :method => 'delete', :class => "navlink"%>
      <% else %>
        <%= link_to "sign up", new_user_path, :class => "navlink"  %>
        <%= link_to "sign in", login_path, :class => "navlink"%>
      <% end %>
      </div> 
    <%= yield %>
    </div>
  </body>
</html>
